@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0px;
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

body{
    background-color: #F2E9EB;
}

body img{
    margin-top: -20px;
}

div{
    text-align: center;
}

.top{
    margin-top: -150px;
}

h1{
    color: #F23064;
    font-size: 39px;
    margin-bottom: 30px;
    margin-top: 70px;
}

form > .divisao > input, form > input{
    width: 400px;
    height: 40px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    outline: 0;
    margin-bottom: 20px;
}

.divisao{
    display: block;
}

.botao{
    width: 130px;
    height: 36px;
    font-size: 20px;
    background-color: #F23064;
    color: #D9D9D9;
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
}

.form-img{
    width: 45px;
    height: 45px;
}

.redes-sociais{
    width: 50px;
    height: 50px;
    margin: 20px;
}

.redes-sociais:hover{
    transition: 1s;
    transform: scale(0.7);
}

a{
    color: #F23064;
    text-decoration: none;
}

.divisao > input:hover{
    background-color: #F2E9EB;
    transition: 1s;
    transform: scale(1.04);
    color: #F23064;
    border: #F23064 1px solid;
}

a:hover{
    text-decoration: underline;
}

.botao:hover{
    background-color: #F2E9EB;
    transition: 1s;
    transform: scale(1.1);
    color: #F23064;
    border: #F23064 1px solid;
}

